@font-face {
  font-family: 'Gilroy-Black';
  src: url("../fonts/Gilroy/Gilroy-Black.ttf");
  src: url("../fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf");
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.ttf");
  src: url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf");
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf");
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf");
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy/Gilroy-Light.otf");
  src: url("../fonts/Gilroy/Gilroy-Light.otf") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #303030;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding-top: 35px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-description {
  color: #838383;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #dfe4ee;
  border-radius: 25px;
  margin-left: 20px;
  cursor: pointer;
}

.social-fb:hover {
  border-color: #3b5998;
}

.social-instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #dfe4ee;
  border-radius: 25px;
  margin-left: 20px;
  cursor: pointer;
}

.social-instagram:hover {
  border-color: #bc7ac4;
}

.social-telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #dfe4ee;
  border-radius: 50px;
  margin-left: 20px;
  cursor: pointer;
}

.social-telegram:hover {
  border-color: #34ace1;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-link {
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-weight: 600;
}

.contacts-link:hover {
  text-decoration: underline;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-title {
  display: block;
  color: #303030;
  font-size: 20px;
  font-family: 'Gilroy-SemiBold', sans-serif;
  line-height: 24px;
}

.contacts-text {
  color: #838383;
  font-size: 16px;
  font-family: 'Gilroy-SemiBold', sans-serif;
  line-height: 25px;
  margin-left: 35px;
}

.contacts-icon {
  margin-right: 10px;
}

.location {
  color: #838383;
  font-size: 16px;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-weight: 400;
  line-height: 25px;
  margin-left: 30px;
}

.list {
  margin-right: 80px;
}

.list-response {
  display: none;
}

.btn {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #357cff;
  border: none;
  padding: 20px 55px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2656ae;
}

.btn-responsive {
  display: none;
}

.hero {
  margin-top: 40px;
  margin-bottom: 45px;
}

.hero-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-img {
  width: 66.1%;
}

.slider-title {
  color: #303030;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: initial;
  position: relative;
  margin-bottom: 50px;
}

.slider-title::before {
  content: '';
  width: 40px;
  height: 5px;
  background-color: #ffc445;
  position: absolute;
  top: -20px;
}

.slider-text {
  color: #303030;
  font-size: 16px;
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 47px;
}

.slider-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #000000;
  opacity: 0.5;
  right: 70px;
  bottom: 0;
  border: none;
  z-index: 5;
}

.slider-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #000000;
  opacity: 0.5;
  right: 0;
  bottom: 0;
  border: none;
  z-index: 5;
}

.slider-next:hover {
  opacity: 1;
}

.slider-prev:hover {
  opacity: 1;
}

.slider-description {
  padding-right: 10px;
  width: 33.9%;
}

.menu {
  padding-top: 50px;
}

.burger {
  display: none;
}

.mobile {
  position: fixed;
  z-index: 999;
  top: 0;
  left: -100%;
  bottom: 0;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: left 0.2s 0s;
  transition: left 0.2s 0s;
  width: 11rem;
  padding: 6rem 4rem 3rem;
}

.mobile-close {
  border: none;
  background-color: #fff;
  margin-bottom: 20px;
  font-size: 35px;
}

.open {
  left: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  color: #303030;
  font-size: 18px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.nav-list a:hover {
  color: #a6a6a6;
}

.image {
  max-width: 953px;
  width: 100%;
  height: auto;
}

.image-response {
  display: none;
}

.swiper-container {
  margin-top: 49px;
}

.overlay {
  display: block;
  position: fixed;
  z-index: 899;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  opacity: 0;
  pointer-events: none;
}

.active {
  opacity: 0.25;
  pointer-events: all;
}

.scrolling {
  overflow-y: hidden;
}

.join {
  margin-left: auto;
}

button {
  padding: 0;
}

.swiper-pagination-bullet {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background: none;
  opacity: 1;
  color: #357cff;
  font-size: 16px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 14px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news {
  padding-top: 50px;
  padding-bottom: 80px;
}

.news-pagination-number:first-child {
  margin-right: 14px;
}

.news-pagination-number:hover {
  color: #333333;
}

.news-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-prev, .news-next {
  width: 70px;
  height: 70px;
  background-color: #e7ecf3;
  cursor: pointer;
  border: none;
  opacity: 0.5;
}

.news-prev:hover, .news-next:hover {
  opacity: 1;
}

.news-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-title {
  color: #2c2c2c;
  font-size: 18px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.news-text {
  color: #838383;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 19px;
}

.swiper-pagination-bullet-active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #357cff;
  font-size: 16px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 14px;
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 21px rgba(46, 54, 64, 0.24);
          box-shadow: 0 5px 21px rgba(46, 54, 64, 0.24);
  background-color: #ffffff;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  border: 1px solid #f2f6f7;
  margin-bottom: 20px;
}

.info:hover {
  -webkit-box-shadow: 0 5px 21px rgba(46, 54, 64, 0.24);
          box-shadow: 0 5px 21px rgba(46, 54, 64, 0.24);
}

.info-wrap {
  width: 50%;
}

.info-img {
  margin-right: 25px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 80px;
}

.info-title {
  color: #303030;
  font-size: 48px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  margin-bottom: 69px;
}

.data {
  color: #838383;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-top: 30px;
  margin-bottom: 19px;
}

.btn-news.first {
  color: #ffffff;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 102px;
}

.btn-news {
  display: inline-block;
  color: #357cff;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  border: 1px solid #357cff;
  padding: 20px 47px;
  cursor: pointer;
  margin-top: 40px;
  background-color: #fff;
}

.btn-news:first-child {
  background-color: #357cff;
}

.btn-news:first-child:hover {
  background-color: #2656ae;
  opacity: 1;
}

.btn-news:hover {
  opacity: 0.7;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review-img {
  margin-right: 18px;
  margin-bottom: 27px;
}

.dekor-img {
  margin-left: auto;
}

.coments .data {
  margin-top: 0;
  margin-bottom: 0;
}

.coments-text {
  display: block;
  color: #838383;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
}

.coments-text::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #e7ecf3;
}

.coments-link {
  color: #357cff;
  font-size: 12px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 50px;
  display: block;
}

.number {
  color: #357cff;
  font-size: 16px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 35px;
  cursor: pointer;
}

.number:hover {
  color: #333333;
}

.slider-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-con {
  width: 50%;
  padding-left: 140px;
}

.swiper-container-reviews {
  overflow: hidden;
}

.helps {
  background-image: url(../img/helps/bg.png);
  padding-top: 64px;
  padding-bottom: 104px;
}

.helps-title {
  color: #ffffff;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 72px;
  text-transform: uppercase;
  margin: 0;
}

.questions {
  display: block;
  color: #ffffff;
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 25px;
}

.form {
  margin-top: 23px;
}

.form-btn {
  padding: 20px 78px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #ffc445;
}

.form-btn a {
  color: #303030;
}

.form-btn:hover {
  background-color: #ffbc2c;
}

.input {
  max-width: 345px;
  width: 100%;
  padding: 19px 0;
  margin-right: 20px;
  color: #303030;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 2px solid #fff;
}

.input-name {
  background-image: url(../img/helps/user.png);
  background-repeat: no-repeat;
  background-position: center left 20px;
  padding-left: 44px;
}

.input-phone {
  background-image: url(../img/helps/phone.png);
  background-repeat: no-repeat;
  background-position: center left 20px;
  padding-left: 44px;
}

.invalid {
  color: red;
  position: absolute;
  left: 36%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.footer {
  background-color: #e7ecf3;
  padding-top: 50px;
  padding-bottom: 80px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-description {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  padding-top: 56px;
}

.footer-nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.footer-contacts {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.footer-socials {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 34px;
}

.footer-icon .social-fb {
  margin-left: 0;
}

.footer-location {
  margin-left: 28px;
}

.description-text {
  display: block;
  color: #7285a0;
  font-family: 'Gilroy-Light', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.sponsors-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 55px;
  border-bottom: 1px solid #ffffff;
}

.nav-title {
  color: #7285a0;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 39px;
  display: block;
  padding-top: 56px;
}

.list_item {
  color: #2c2c2c;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
}

.list_item a:hover {
  color: #a6a6a6;
}

.swiper-container-sponsors {
  overflow: hidden;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
}

.footer-contacts_connection {
  margin-bottom: 40px;
}

.icon-footer {
  margin-right: 4px;
}

.sponsors-logo-response {
  display: none;
}

textarea {
  resize: none;
  overflow: auto;
  padding: 19px 44px;
  color: #303030;
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: 300;
  font-weight: 400;
  font-size: 16px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

textarea:hover {
  border-color: #ffc445;
}

input {
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: 300;
  font-weight: 400;
}

input:hover {
  border-color: #ffc445;
}

label:hover {
  cursor: pointer;
}

.main {
  padding-top: 49px;
  padding-bottom: 100px;
}

.main-container {
  max-width: 1063px;
  width: 100%;
  margin: 0 auto;
}

.main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.main-head .info-title {
  margin-bottom: 35px;
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-img {
  margin-right: 18px;
}

.main-data {
  display: block;
  margin-bottom: 13px;
  color: #838383;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.main-title {
  color: #2c2c2c;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.main-text {
  margin-top: 27px;
  color: #838383;
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 60px;
}

.main-text .coments-link {
  margin-top: 32px;
}

.main-reviews {
  color: #303030;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.main::before {
  content: '';
  height: 1px;
  background-color: #e7ecf3;
  display: block;
  margin-bottom: 49px;
}

.main-description a {
  color: #838383;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.main-description a::after {
  content: '';
  width: 30px;
  height: 2px;
  background-color: #dcdcdc;
  display: inline-block;
  margin: 4px 10px;
}

.main-form {
  max-width: 650px;
}

.main-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .slider-btn {
  margin-bottom: 60px;
}

.swiper-container-coments {
  overflow: hidden;
}

.input-review {
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  background-color: #ffffff;
  padding: 19px 44px;
  max-width: 315px;
  width: 100%;
}

.input-mail {
  background-image: url(../img/reviews/mail.png);
  background-repeat: no-repeat;
  background-position: center left 20px;
  padding-left: 44px;
}

.input-text {
  background-image: url(../img/reviews/text.png);
  background-repeat: no-repeat;
  background-position: 15px 23px;
  padding-left: 44px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  background-color: #ffffff;
  max-width: 650px;
  width: 100%;
  margin-top: 20px;
  min-height: 131px;
  margin-bottom: 20px;
}

.chek-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.chek-box {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  margin-right: 9px;
  cursor: pointer;
}

.private {
  color: #303030;
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}

.error {
  border-color: red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 998;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 710px;
  top: 149px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  background-color: #ffffff;
  z-index: 999999;
  padding-bottom: 5px;
  background-image: url("../img/modal.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.modal-open {
  display: block;
}

.modal-close {
  color: #c2c2c2;
  font-size: 40px;
  border: none;
  background-color: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
}

.modal-title {
  color: #303030;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  padding-top: 39px;
  margin-bottom: 29px;
}

.modal-text {
  color: #303030;
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding: 0 78px;
  margin-bottom: 40px;
}

.modal-form {
  margin: 0 auto;
  max-width: 650px;
  width: 100%;
}

.modal-btn {
  border: none;
  border-radius: 3px;
  background-color: #ffc445;
  padding: 20px 78px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  margin-bottom: 30px;
  color: #303030;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.modal-btn:hover {
  background-color: #ffb412;
}

@media (max-width: 1439px) {
  .contacts-title {
    font-size: 16px;
  }
  .contacts-text {
    font-size: 14px;
  }
  .list {
    margin-right: 50px;
  }
  .btn {
    font-size: 12px;
    padding: 15px 45px;
  }
  .nav-list {
    font-size: 16px;
  }
  .slider-title {
    font-size: 45px;
  }
}

@media (max-width: 1320px) {
  .info-title {
    font-size: 38px;
  }
  .info-img {
    margin-bottom: 18px;
  }
  .btn-group {
    margin-top: 70px;
  }
  .coments-text {
    font-size: 18px;
    line-height: 28px;
  }
  .review-img {
    margin-top: 19px;
  }
  .data {
    line-height: 0;
  }
  .main-container {
    padding: 0 15px;
  }
}

@media (max-width: 1264px) {
  .modal-dialog {
    top: 50px;
  }
  .slider-title {
    font-size: 36px;
    line-height: inherit;
    margin-bottom: 20px;
  }
  .slider-text {
    line-height: inherit;
    margin-bottom: 20px;
  }
  .slider-prev {
    right: 85px;
  }
  .slider-next {
    right: 15px;
  }
  .header-wrap {
    padding: 0 15px;
  }
  .btn-news {
    font-size: 12px;
    padding: 15px 20px;
  }
  .contacts {
    padding: 0 15px;
  }
  .contacts-title {
    font-size: 14px;
  }
  .contacts-text {
    font-size: 12px;
  }
  .location {
    font-size: 12px;
  }
  .nav {
    padding: 0 15px;
  }
  .nav-list {
    font-size: 14px;
  }
  .hero-slider {
    padding: 0 15px;
  }
  .list {
    margin-right: 20px;
  }
  .news-wrap {
    padding: 0 15px;
  }
  .news-title {
    font-size: 14px;
  }
  .news-text {
    font-size: 12px;
  }
  .info-img {
    margin-left: 0;
  }
  .dekor-img {
    margin-top: 15px;
  }
  .helps-wrap {
    padding: 0 15px;
  }
  .helps-title {
    font-size: 45px;
  }
  .questions {
    font-size: 30px;
  }
  .input {
    max-width: 320px;
  }
  .sponsors-logo {
    padding: 0 15px;
  }
  .footer-wrap {
    padding: 0 15px;
  }
  .nav-title {
    font-size: 16px;
  }
  .description-text {
    font-size: 14px;
  }
}

@media (max-width: 1054px) {
  .nav-list {
    font-size: 12px;
  }
  .logo {
    max-width: 180px;
    width: 100%;
    height: auto;
  }
  .contacts-title {
    font-size: 16px;
  }
  .contacts-text {
    font-size: 10px;
    margin-left: 30px;
  }
  .contacts-icon {
    margin-right: 5px;
  }
  .location {
    font-size: 10px;
    margin-left: 23px;
  }
  .btn {
    padding: 10px 40px;
  }
  .slider-title {
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 20px;
  }
  .slider-title::before {
    top: -25px;
  }
  .slider-text {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 20px;
  }
  .header-description {
    font-size: 12px;
  }
  .form-btn {
    display: block;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .nav {
    display: none;
  }
  .burger {
    display: block;
    padding: 0 15px;
  }
  .coments-text {
    font-size: 14px;
  }
  .news-pagination-number {
    margin-right: 14px;
  }
  .contacts .btn a {
    font-size: 12px;
  }
}

@media (max-width: 890px) {
  .modal-form {
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
    padding: 0 30px;
  }
  .modal-dialog {
    max-width: 650px;
  }
  .modal-bottom {
    max-width: 650px;
  }
  .modal-title {
    font-size: 36px;
  }
  .modal-text {
    line-height: 20px;
  }
  .modal .input-review {
    max-width: 275px;
  }
  .main-text {
    font-size: 16px;
  }
  .footer-logo {
    max-width: 90px;
  }
  .footer-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-socials {
    margin: 0 auto;
  }
  .logo {
    max-width: 150px;
    width: 90%;
  }
  .location-title {
    display: none;
  }
  .coments .data {
    margin-top: 30px;
    margin-bottom: 19px;
  }
  .coments-link {
    font-size: 10px;
  }
  .news-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-title {
    font-size: 12px;
  }
  .news-pagination-number {
    margin-right: 10px;
  }
  .news-pagination-number_active {
    margin-right: 8px;
  }
  .news-pagination-number:first-child {
    margin-right: 8px;
  }
  .info-wrap {
    width: 100%;
    padding-right: 0;
  }
  .info-title {
    margin-bottom: 15px;
  }
  .btn a {
    font-size: 12px;
  }
  .btn a-news {
    font-size: 10px;
  }
  .reviews-con {
    width: 100%;
    margin-top: 50px;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .form-btn {
    max-width: 365px;
    width: 100%;
  }
  .input {
    margin-bottom: 20px;
  }
  .list_item {
    font-size: 16px;
  }
  .description-text {
    font-size: 12px;
  }
  .sponsors-logo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 680px) {
  .modal-dialog {
    max-width: 600px;
  }
}

@media (max-width: 640px) {
  .modal {
    overflow-y: auto;
  }
  .modal-btn {
    padding: 10px 50px;
    margin-bottom: 0;
  }
  .modal-title {
    font-size: 30px;
  }
  .modal-text {
    font-size: 14px;
    padding: 0 15px;
  }
  .modal-form {
    max-width: 420px;
  }
  .modal-dialog {
    width: 90%;
    background-image: url("../img/modalmob.png");
    padding-bottom: 20px;
  }
  .modal-dialog .input-review {
    max-width: 640px;
  }
  .hero {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .hero-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-list {
    font-size: 10px;
  }
  .mobile {
    width: 12rem;
  }
  .mobile-response {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
  }
  .image {
    display: none;
  }
  .image-response {
    display: block;
    max-width: 640px;
    width: 100%;
    height: 320px;
    margin-bottom: 20px;
  }
  .header {
    padding-top: 0;
  }
  .header-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-description {
    margin-bottom: 20px;
    display: none;
  }
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .social {
    display: none;
  }
  .btn {
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    max-width: 200px;
    padding: 10px 20px;
    text-align: center;
  }
  .btn a {
    font-size: 10px;
  }
  .btn-news a {
    font-size: 10px;
  }
  .btn-news.first a {
    font-size: 10px;
  }
  .btn-news {
    margin: 0 auto;
    display: block;
    max-width: 200px;
    padding: 10px 20px;
    text-align: center;
  }
  .btn-responsive {
    margin: 0;
  }
  .btn-group {
    margin-top: 20px;
  }
  .logo {
    margin-bottom: 20px;
    display: none;
  }
  .slider-next {
    display: none;
  }
  .slider-prev {
    display: none;
  }
  .slider-title {
    text-align: center;
  }
  .slider-title::before {
    top: -15px;
  }
  .slider-text {
    text-align: center;
  }
  .slider-description {
    width: 100%;
  }
  .info-news {
    padding: 0 15px 15px;
  }
  .info-title {
    font-size: 26px;
  }
  .helps {
    padding-top: 0;
    padding-bottom: 0;
  }
  .helps-wrap {
    padding-bottom: 40px;
    padding-top: 25px;
  }
  .helps-title {
    font-size: 24px;
  }
  .questions {
    font-size: 18px;
  }
  .form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form-btn {
    max-width: 350px;
  }
  .input {
    max-width: 350px;
    margin-right: 0;
  }
  .input-review {
    max-width: 640px;
    width: 100%;
    margin-bottom: 20px;
  }
  .input-text {
    margin-top: 0;
  }
  .sponsors-logo {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: none;
  }
  .sponsors-logo-response {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 25px;
  }
  .list-response {
    margin-bottom: 0;
    margin-right: 0;
    display: block;
    text-align: right;
  }
  .phone-link {
    font-size: 12px;
  }
  .menu {
    padding-top: 0;
  }
  .menu_item {
    line-height: 25px;
  }
  .news {
    padding-bottom: 35px;
    padding-top: 0;
  }
  .news-text {
    margin-top: 0;
    line-height: 16px;
  }
  .elem {
    max-width: 40px;
    width: 100%;
    height: auto;
  }
  .contacts-text {
    margin-left: 0;
    font-size: 9px;
  }
  .footer_location {
    font-size: 16px;
  }
  .footer-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer-contacts {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .footer-nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-socials {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer-icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
  .footer-list {
    text-align: center;
  }
  .footer-logo {
    margin-bottom: 10px;
  }
  .footer-location {
    margin-left: 28px;
    font-size: 16px;
  }
  .nav-title {
    text-align: center;
    padding-top: 0;
    margin-bottom: 0;
  }
  .news-pagination {
    display: none;
  }
  .news-btn {
    display: none;
  }
  .news-img {
    max-width: 130px;
  }
  .join {
    margin-left: 0;
  }
  .main-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-wrap {
    margin-top: 40px;
  }
  .main-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-title {
    font-size: 14px;
  }
  .private {
    font-size: 10px;
  }
  .swiper-container {
    margin-top: 10px;
  }
  .swiper-slide {
    width: 100%;
  }
  .reviews-con {
    padding-left: 0;
  }
  .review-img {
    margin-bottom: 14px;
  }
  .coments-link {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

@media (max-width: 420px) {
  .form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .questions {
    text-align: center;
  }
  .helps-title {
    text-align: center;
  }
  .modal-btn a {
    font-size: 10px;
  }
  .modal-title {
    font-size: 20px;
  }
  .modal-text {
    font-size: 12px;
  }
  .modal-close {
    top: 15px;
    right: 15px;
  }
  .private {
    line-height: 10px;
  }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-img {
    display: block;
    margin: 0 auto;
  }
  .phone-link {
    font-size: 10px;
  }
  .btn-responsive {
    padding: 10px;
    font-size: 10px;
  }
  .contacts-text {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */