@font-face {
  font-family: 'Gilroy-Black';
  src: url("../fonts/Gilroy/Gilroy-Black.ttf");
  src: url("../fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf");
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.ttf");
  src: url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf");
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf");
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf");
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy/Gilroy-Light.otf");
  src: url("../fonts/Gilroy/Gilroy-Light.otf") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #303030;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding-top: 35px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-description {
  color: #838383;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #dfe4ee;
  border-radius: 25px;
  margin-left: 20px;
  cursor: pointer;
}

.social-fb:hover {
  border-color: #3b5998;
}

.social-instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #dfe4ee;
  border-radius: 25px;
  margin-left: 20px;
  cursor: pointer;
}

.social-instagram:hover {
  border-color: #bc7ac4;
}

.social-telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #dfe4ee;
  border-radius: 50px;
  margin-left: 20px;
  cursor: pointer;
}

.social-telegram:hover {
  border-color: #34ace1;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-link {
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-weight: 600;
}

.contacts-link:hover {
  text-decoration: underline;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-title {
  display: block;
  color: #303030;
  font-size: 20px;
  font-family: 'Gilroy-SemiBold', sans-serif;
  line-height: 24px;
}

.contacts-text {
  color: #838383;
  font-size: 16px;
  font-family: 'Gilroy-SemiBold', sans-serif;
  line-height: 25px;
  margin-left: 35px;
}

.contacts-icon {
  margin-right: 10px;
}

.location {
  color: #838383;
  font-size: 16px;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-weight: 400;
  line-height: 25px;
  margin-left: 30px;
}

.list {
  margin-right: 80px;
}

.btn {
  border-radius: 3px;
  background-color: #357cff;
  border: none;
  padding: 20px 55px;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #2656ae;
}

.hero {
  margin-top: 40px;
}

.hero-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 49px;
  padding-bottom: 45px;
}

.slider-img {
  position: relative;
}

.slider-title {
  color: #303030;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  position: relative;
  margin-bottom: 50px;
}

.slider-title::before {
  content: '';
  width: 40px;
  height: 5px;
  background-color: #ffc445;
  position: absolute;
  top: -44px;
}

.slider-text {
  color: #303030;
  font-size: 16px;
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 47px;
}

.slider-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #000000;
  opacity: 0.5;
  right: 70px;
  bottom: 43px;
  border: none;
  z-index: 5;
}

.slider-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #000000;
  opacity: 0.5;
  right: 0;
  bottom: 43px;
  border: none;
  z-index: 5;
}

.slider-description {
  padding-right: 10px;
}

.menu {
  padding-top: 50px;
}

.burger {
  display: none;
}

.mobile-menu {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14pxgit;
}

.mobile-holder {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  width: 50%;
  z-index: 2;
  -webkit-transition: -webkit-transform 300ms ease-in-out 100ms;
  transition: -webkit-transform 300ms ease-in-out 100ms;
  transition: transform 300ms ease-in-out 100ms;
  transition: transform 300ms ease-in-out 100ms, -webkit-transform 300ms ease-in-out 100ms;
}

.opened {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  color: #303030;
  font-size: 18px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.nav-list a:hover {
  color: #a6a6a6;
}

.image {
  max-width: 953px;
  width: 100%;
  height: auto;
}

.news {
  padding-top: 50px;
  padding-bottom: 80px;
}

.news-pagination-number {
  display: inline-block;
  color: #357cff;
  font-size: 16px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 35px;
  cursor: pointer;
}

.news-pagination-number:first-child {
  margin-right: 14px;
}

.news-pagination-number:hover {
  color: #333333;
}

.news-pagination-number_active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #357cff;
  font-size: 16px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 14px;
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 21px rgba(46, 54, 64, 0.24);
          box-shadow: 0 5px 21px rgba(46, 54, 64, 0.24);
  background-color: #ffffff;
}

.news-prev, .news-next {
  width: 70px;
  height: 70px;
  background-color: #e7ecf3;
  cursor: pointer;
  border: none;
}

.news-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-title {
  color: #2c2c2c;
  font-size: 18px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.news-text {
  color: #838383;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 19px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  border: 1px solid #f2f6f7;
  margin-bottom: 20px;
}

.info-wrap {
  width: 60%;
  padding-right: 140px;
}

.info-img {
  margin-right: 25px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 80px;
}

.info-title {
  color: #303030;
  font-size: 48px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 69px;
}

.data {
  color: #838383;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-top: 30px;
  margin-bottom: 19px;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 75px;
}

.btn-news {
  border: none;
  border-radius: 3px;
  border: 1px solid #357cff;
  color: #357cff;
  padding: 20px 47px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 40px;
}

.btn-news:first-child {
  background-color: #357cff;
  color: #ffffff;
}

.btn-news:first-child:hover {
  background-color: #2656ae;
  opacity: 1;
}

.btn-news:hover {
  opacity: 0.7;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review-img {
  margin-right: 18px;
  margin-bottom: 27px;
}

.dekor-img {
  margin-left: auto;
}

.coments-text {
  display: block;
  color: #838383;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
}

.coments-text::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #e7ecf3;
}

.coments-link {
  color: #357cff;
  font-size: 12px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 50px;
  display: block;
}

.number {
  color: #357cff;
  font-size: 16px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 35px;
  cursor: pointer;
}

.number:hover {
  color: #333333;
}

.slider-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-con {
  width: 40%;
  overflow: hidden;
}

.helps {
  background-image: url(../img/helps/bg.png);
  padding-top: 64px;
  padding-bottom: 104px;
}

.helps-title {
  color: #ffffff;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 72px;
  text-transform: uppercase;
  margin: 0;
}

.questions {
  display: block;
  color: #ffffff;
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 25px;
}

.form {
  margin-top: 23px;
}

.form-btn {
  padding: 20px 78px;
  color: #303030;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #ffc445;
}

.form-btn:hover {
  background-color: #ffbc2c;
}

.input {
  max-width: 345px;
  width: 100%;
  padding: 19px 0;
  margin-right: 20px;
  color: #303030;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
}

.input-name {
  background-image: url(../img/helps/user.png);
  background-repeat: no-repeat;
  background-position: center left 20px;
  padding-left: 44px;
}

.input-phone {
  background-image: url(../img/helps/phone.png);
  background-repeat: no-repeat;
  background-position: center left 20px;
  padding-left: 44px;
}

.footer {
  background-color: #e7ecf3;
  padding-top: 50px;
  padding-bottom: 80px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-description {
  padding-top: 56px;
}

.description-text {
  display: block;
  color: #7285a0;
  font-family: 'Gilroy-Light', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.sponsors-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 55px;
  border-bottom: 1px solid #ffffff;
}

.nav-title {
  color: #7285a0;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  text-transform: uppercase;
}

.list_item {
  color: #2c2c2c;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
}

@media (max-width: 1439px) {
  .contacts-title {
    font-size: 16px;
  }
  .contacts-text {
    font-size: 14px;
  }
  .list {
    margin-right: 50px;
  }
  .btn {
    font-size: 12px;
    padding: 15px 45px;
  }
  .nav-list {
    font-size: 16px;
  }
  .slider-title {
    font-size: 45px;
  }
}

@media (max-width: 1320px) {
  .slider-prev {
    bottom: 50px;
  }
  .slider-next {
    bottom: 50px;
  }
  .info-title {
    font-size: 38px;
  }
  .info-img {
    margin-bottom: 18px;
  }
  .btn-group {
    margin-top: 70px;
  }
  .coments-text {
    font-size: 18px;
    line-height: 28px;
  }
  .review-img {
    margin-top: 19px;
  }
  .data {
    line-height: 0;
  }
}

@media (max-width: 1264px) {
  .slider-prev {
    bottom: 19px;
    right: 85px;
  }
  .slider-next {
    bottom: 19px;
    right: 15px;
  }
  .header-wrap {
    padding: 0 15px;
  }
  .btn-news {
    font-size: 12px;
    padding: 15px 20px;
  }
  .contacts {
    padding: 0 15px;
  }
  .contacts-title {
    font-size: 14px;
  }
  .contacts-text {
    font-size: 12px;
  }
  .nav {
    padding: 0 15px;
  }
  .nav-list {
    font-size: 14px;
  }
  .hero-slider {
    padding: 0 15px;
  }
  .list {
    margin-right: 20px;
  }
  .news-wrap {
    padding: 0 15px;
  }
  .news-title {
    font-size: 14px;
  }
  .news-text {
    font-size: 12px;
  }
  .info-img {
    margin-left: 0;
  }
  .dekor-img {
    margin-top: 15px;
  }
  .helps-wrap {
    padding: 0 15px;
  }
  .helps-title {
    font-size: 45px;
  }
  .questions {
    font-size: 30px;
  }
  .input {
    max-width: 320px;
  }
}

@media (max-width: 1054px) {
  .nav-list {
    font-size: 12px;
  }
  .logo {
    max-width: 180px;
    width: 100%;
    height: auto;
  }
  .contacts-title {
    font-size: 12px;
  }
  .contacts-text {
    font-size: 10px;
    margin-left: 30px;
  }
  .contacts-icon {
    margin-right: 5px;
  }
  .location {
    font-size: 10px;
    margin-left: 23px;
  }
  .btn {
    padding: 10px 40px;
  }
  .slider-title {
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 20px;
  }
  .slider-title::before {
    top: -25px;
  }
  .slider-text {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 20px;
  }
  .header-description {
    font-size: 12px;
  }
  .form-btn {
    display: block;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .nav {
    display: none;
  }
  .burger {
    display: block;
    padding: 0 15px;
  }
  .coments-text {
    font-size: 14px;
  }
  .news-pagination-number {
    margin-right: 14px;
  }
}

@media (max-width: 890px) {
  .logo {
    max-width: 150px;
    width: 90%;
  }
  .location-title {
    display: none;
  }
  .coments-link {
    font-size: 10px;
  }
  .news-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-title {
    font-size: 12px;
  }
  .news-pagination-number {
    margin-right: 10px;
  }
  .news-pagination-number_active {
    margin-right: 8px;
  }
  .news-pagination-number:first-child {
    margin-right: 8px;
  }
  .info-wrap {
    width: 100%;
    padding-right: 0;
  }
  .info-title {
    margin-bottom: 15px;
  }
  .btn-news {
    font-size: 10px;
  }
  .reviews-con {
    width: 100%;
    margin-top: 50px;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .form-btn {
    max-width: 365px;
    width: 100%;
  }
  .input {
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .image {
    display: none;
  }
  .header-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-description {
    margin-bottom: 20px;
  }
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn {
    margin-top: 20px;
    display: block;
    margin: 0 auto;
  }
  .logo {
    margin-bottom: 20px;
  }
  .slider-title {
    text-align: center;
  }
  .slider-text {
    text-align: center;
  }
  .info-img {
    display: none;
  }
  .helps-title {
    font-size: 24px;
  }
  .questions {
    font-size: 18px;
  }
  .form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-btn {
    max-width: 300px;
  }
  .input {
    max-width: 250px;
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */