@font-face {
  font-family: 'Gilroy-Black';
  src: url("../fonts/Gilroy/Gilroy-Black.ttf");
  src: url("../fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf");
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.ttf");
  src: url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf");
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf");
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf");
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy/Gilroy-Light.otf");
  src: url("../fonts/Gilroy/Gilroy-Light.otf") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #303030;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding-top: 35px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-description {
  color: #838383;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #dfe4ee;
  border-radius: 25px;
  margin-left: 20px;
  cursor: pointer;
}

.social-fb:hover {
  border-color: #3b5998;
}

.social-instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #dfe4ee;
  border-radius: 25px;
  margin-left: 20px;
  cursor: pointer;
}

.social-instagram:hover {
  border-color: #bc7ac4;
}

.social-telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #dfe4ee;
  border-radius: 50px;
  margin-left: 20px;
  cursor: pointer;
}

.social-telegram:hover {
  border-color: #34ace1;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-link {
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-weight: 600;
}

.contacts-link:hover {
  text-decoration: underline;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-title {
  display: block;
  color: #303030;
  font-size: 20px;
  font-family: 'Gilroy-SemiBold', sans-serif;
  line-height: 24px;
}

.contacts-text {
  color: #838383;
  font-size: 16px;
  font-family: 'Gilroy-SemiBold', sans-serif;
  line-height: 25px;
  margin-left: 35px;
}

.contacts-icon {
  margin-right: 10px;
}

.location {
  color: #838383;
  font-size: 16px;
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-weight: 400;
  line-height: 25px;
  margin-left: 30px;
}

.list {
  margin-right: 80px;
}

.btn {
  border-radius: 3px;
  background-color: #357cff;
  border: none;
  padding: 20px 55px;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #2656ae;
}

.hero {
  margin-top: 40px;
}

.hero-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 49px;
  padding-bottom: 45px;
}

.slider-img {
  position: relative;
}

.slider-title {
  color: #303030;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  position: relative;
  margin-bottom: 50px;
}

.slider-title::before {
  content: '';
  width: 40px;
  height: 5px;
  background-color: #ffc445;
  position: absolute;
  top: -44px;
}

.slider-text {
  color: #303030;
  font-size: 16px;
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 47px;
}

.slider-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #000000;
  opacity: 0.5;
  right: 70px;
  bottom: 43px;
  border: none;
  z-index: 5;
}

.slider-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #000000;
  opacity: 0.5;
  right: 0;
  bottom: 43px;
  border: none;
  z-index: 5;
}

.slider-description {
  padding-right: 10px;
}

.menu {
  padding-top: 50px;
}

.burger {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  color: #303030;
  font-size: 18px;
  font-family: 'Gilroy-Black', sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.nav-list a:hover {
  color: #a6a6a6;
}

.image {
  max-width: 953px;
  width: 100%;
  height: auto;
}

@media (max-width: 1439px) {
  .contacts-title {
    font-size: 16px;
  }
  .contacts-text {
    font-size: 14px;
  }
  .list {
    margin-right: 50px;
  }
  .btn {
    font-size: 12px;
    padding: 15px 45px;
  }
  .nav-list {
    font-size: 16px;
  }
  .slider-title {
    font-size: 45px;
  }
}
/*# sourceMappingURL=style.css.map */