.footer
  background-color: #e7ecf3
  padding-top: 50px
  padding-bottom: 80px
  &-wrap
    display: flex
    justify-content: space-between
  &-logo
    margin-bottom: 20px
  &-description
    order: 0
    padding-top: 56px
  &-nav
    order: 1
  &-contacts
    order: 2
  &-socials
    order: 3
  &-icon
    display: flex
    justify-content: start
    margin-bottom: 34px
    .social
      &-fb
        margin-left: 0
  &-location
    margin-left: 28px
.description
  &-text 
    display: block
    color: #7285a0
    +light
    font-size: 16px
    line-height: 20px
.sponsors
  &-logo
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 55px
    border-bottom: 1px solid #ffffff
    background-color: #e7ecf3
.nav
  &-title
    color: #7285a0
    +black
    font-size: 18px
    line-height: 48px
    text-transform: uppercase
    margin-bottom: 39px
    display: block
    padding-top: 56px
.list
  &_item
    color: #2c2c2c
    +semi
    font-size: 18px
    font-weight: 400
    line-height: 48px
    a:hover 
      color: #a6a6a6
.swiper
  &-container
    &-sponsors
      overflow: hidden
  &-wrapper
    transition-timing-function: linear !important
.footer
  &-contacts
    &_connection
      margin-bottom: 40px
.icon
  &-footer
    margin-right: 4px
.sponsors
  &-logo
    &-response
      display: none