*
  box-sizing: 
a
  text-decoration: none
  color: #303030
.container
  max-width: 1440px
  width: 100%
  margin: 0 auto
.header
  padding-top: 35px
  &-wrap
    display: flex
    align-items: center
    justify-content: space-between
  &-description
    color: #838383
    +semi 
    font-size: 16px
    line-height: 20px
.social
  display: flex
  align-items: center
  &-fb
    display: flex
    align-items: center
    justify-content: center
    width: 36px
    height: 36px
    border: 1px solid #dfe4ee
    border-radius: 25px
    margin-left: 20px
    cursor: pointer
    &:hover
      border-color: #3b5998
  &-instagram
    display: flex
    align-items: center
    justify-content: center
    width: 36px
    height: 36px
    border: 1px solid #dfe4ee
    border-radius: 25px
    margin-left: 20px
    cursor: pointer
    &:hover
      border-color: #bc7ac4
  &-telegram
    display: flex
    align-items: center
    justify-content: center
    width: 36px
    height: 36px
    border: 1px solid #dfe4ee
    border-radius: 50px
    margin-left: 20px
    cursor: pointer
    &:hover
      border-color: #34ace1
.contacts
  display: flex
  align-items: center
  justify-content: space-between
  &-link 
    +semi
    font-weight: 600
    &:hover
      text-decoration: underline
  &-list 
    display: flex
    justify-content: space-between
  &-title
    display: block
    color: #303030
    font-size: 20px
    +semi
    line-height: 24px
  &-text 
    color: #838383
    font-size: 16px
    +semi
    line-height: 25px
    margin-left: 35px
  &-icon 
    margin-right: 10px
.location
  color: #838383  
  font-size: 16px
  +semi
  font-weight: 400
  line-height: 25px
  margin-left: 30px
.list
  margin-right: 80px
.btn
  border-radius: 3px
  background-color: #357cff
  border: none
  padding: 20px 55px
  color: #ffffff
  font-size: 14px
  +black
  text-transform: uppercase
  cursor: pointer
  &:hover
    background-color: #2656ae
.hero
  margin-top: 40px
.menu
  padding-top: 50px
.burger
  display: none
.nav
  display: flex
  align-items: center
  justify-content: space-between
  &-list
    color: #303030
    font-size: 18px
    +black
    line-height: 24px
    text-transform: uppercase
    a:hover
      color: #a6a6a6