@media (max-width: 1439px)
  .contacts
    &-title
      font-size: 16px
    &-text 
      font-size: 14px
  .list
    margin-right: 50px
  .btn
    font-size: 12px
    padding: 15px 45px
  .nav
    &-list
      font-size: 16px
  .slider
    &-title
      font-size: 45px
@media (max-width: 1320px)
  // .slider
  //   &-prev
  //     bottom: 50px
  //   &-next 
  //     bottom: 50px
  .info
    &-title
      font-size: 38px
    &-img
      margin-bottom: 18px
  .btn
    &-group
      margin-top: 70px
  .coments
    &-text
      font-size: 18px
      line-height: 28px
  .review
    &-img
      margin-top: 19px
  .data
    line-height: 0
  .main
    &-container
      padding: 0 15px
@media (max-width: 1264px)
  .slider
    &-title
      font-size: 36px
      line-height: inherit
      margin-bottom: 20px
    &-text 
      line-height: inherit
      margin-bottom: 20px
    &-prev
      right: 85px
    &-next 
      right: 15px
  .header
    &-wrap
      padding: 0 15px
  .btn
    &-news
      font-size: 12px
      padding: 15px 20px    
  .contacts
    padding: 0 15px
    &-title
      font-size: 14px
    &-text 
      font-size: 12px
  .location 
    font-size: 12px
  .nav
    padding: 0 15px
    &-list
      font-size: 14px
  .hero
    &-slider
      padding: 0 15px
  .list
    margin-right: 20px
  .news
    &-wrap
      padding: 0 15px
    &-title
      font-size: 14px
    &-text 
      font-size: 12px
  .info
    &-img
      margin-left: 0
  .dekor
    &-img
      margin-top: 15px
  .helps
    &-wrap
      padding: 0 15px
    &-title
      font-size: 45px
  .questions
    font-size: 30px
  .input
    max-width: 320px
  .sponsors
    &-logo
      padding: 0 15px
  .footer
    &-wrap 
      padding: 0 15px
  .nav
    &-title
      font-size: 16px
  .description
    &-text
      font-size: 14px
  .list
    &_item 
      font-size: 16px
@media (max-width: 1054px)
  .nav
    &-list
      font-size: 12px
  .logo
    max-width: 180px
    width: 100%
    height: auto
  .contacts
    &-title
      font-size: 12px
    &-text 
      font-size: 10px
      margin-left: 30px
    &-icon
      margin-right: 5px
  .location
    font-size: 10px
    margin-left: 23px
  .btn
    padding: 10px 40px
  .slider
    &-title
      font-size: 24px
      margin-bottom: 15px
      line-height: 20px
      &::before
        top: -25px
    &-text 
      font-size: 14px
      margin-bottom: 20px
      line-height: 20px
  .header
    &-description
      font-size: 12px
  .form
    &-btn 
      display: block
      margin-top: 20px
@media (max-width: 1024px)
  .nav
    display: none
  .burger
    display: block
    padding: 0 15px
  .coments
    &-text
      font-size: 14px
    
  .news
    &-pagination
      &-number
        margin-right: 14px
  .contacts
    .btn a 
      font-size: 12px    
@media (max-width: 890px)
  .main
    &-text
      font-size: 16px
  .footer
    &-logo
      max-width: 150px
    &-wrap
      flex-wrap: wrap
    &-socials
      margin: 0 auto
  .logo
    max-width: 150px
    width: 90%
  .location
    &-title
      display: none  
  .coments
    .data
      margin-top: 30px
      margin-bottom: 19px
    &-link
      font-size: 10px
  .news
    &-wrap
      flex-direction: column
    &-title
      font-size: 12px
    &-pagination
      &-number
        margin-right: 10px
        &_active
          margin-right: 8px
        &:first-child
          margin-right: 8px
  .info
    &-wrap
      width: 100%
      padding-right: 0
    &-title
      margin-bottom: 15px
  .btn a
    font-size: 12px
    &-news
      font-size: 10px
  .reviews
    &-con  
      width: 100%
      margin-top: 50px 
  .form
    display: flex
    flex-direction: column
    align-items: end 
    &-btn 
      max-width: 365px
      width: 100%
  .input
    margin-bottom: 20px 
  .list
    &_item
      font-size: 12px
  .description
    &-text
      font-size: 12px
  .sponsors
    &-logo
      flex-wrap: wrap
@media (max-width: 640px)
  .hero
    &-slider
      flex-direction: column
  .nav  
    &-list
      font-size: 10px
  .mobile
    width: 12rem
  .image
    display: none
  .header
    &-wrap
      flex-direction: column
    &-description
      margin-bottom: 20px
  .contacts
    flex-direction: column
  .btn
    margin-top: 20px
    display: block
    margin: 0 auto
    a 
      font-size: 10px
    &-news a 
      font-size: 10px
  .btn
    &-news.first 
      a 
        font-size: 10px
  .logo
    margin-bottom: 20px
  .slider
    &-next 
      display: none
    &-prev
      display: none
    &-title
      text-align: center
    &-text 
      text-align: center
    &-description
      width: 100%
  .info
    &-img
      display: none
    &-title
      font-size: 26px
  .helps
    &-title
      font-size: 24px
  .questions
    font-size: 18px
  .form
    align-items: flex-start
    &-btn 
      max-width: 350px
  .input
    max-width: 350px
    margin-right: 0
    &-review
      max-width: 640px
      width: 100%
      margin-bottom: 20px
    &-text 
      margin-top: 0
  .sponsors
    &-logo
      justify-content: space-around
  .list
    &_item
      line-height: 25px
  .footer
    &-wrap
      justify-content: space-around
      flex-direction: column
      align-items: center
    &-description
      display: flex
      flex-direction: column
      align-items: center
      padding-top: 10px
    &-icon
      justify-content: center
      margin-bottom: 15px
    &-list
      text-align: center
    &-logo
      margin-bottom: 10px
  .nav
    &-title
      text-align: center
      padding-top: 0
      margin-bottom: 0
  .news
    &-pagination
      display: none
    &-btn 
      display: none
  .join
    margin-left: 0
  .main
    &-head
      flex-direction: column
    &-wrap
      margin-top: 40px
    &-inputs
      flex-direction: column
    &-title
      font-size: 14px
  .private
    font-size: 10px
  .swiper
    &-slide
      width: 100%
  .reviews
    &-con
      padding-left: 0
@media (max-width: 420px)
  .form
    align-items: center
  .questions
    text-align: center
  .helps
    &-title
      text-align: center