@media (max-width: 1439px)
  .contacts
    &-title
      font-size: 16px
    &-text 
      font-size: 14px
  .list
    margin-right: 50px
  .btn
    font-size: 12px
    padding: 15px 45px
  .nav
    &-list
      font-size: 16px
  .slider
    &-title
      font-size: 45px
@media (max-width: 1320px)
  // .slider
  //   &-prev
  //     bottom: 50px
  //   &-next 
  //     bottom: 50px
  .info
    &-title
      font-size: 38px
    &-img
      margin-bottom: 18px
  .btn
    &-group
      margin-top: 70px
  .coments
    &-text
      font-size: 18px
      line-height: 28px
  .review
    &-img
      margin-top: 19px
  .data
    line-height: 0
  .main
    &-container
      padding: 0 15px
@media (max-width: 1264px)
  .modal
    &-dialog
      top: 50px
  .slider
    &-title
      font-size: 36px
      line-height: inherit
      margin-bottom: 20px
    &-text 
      line-height: inherit
      margin-bottom: 20px
    &-prev
      right: 85px
    &-next 
      right: 15px
  .header
    &-wrap
      padding: 0 15px
  .btn
    &-news
      font-size: 12px
      padding: 15px 20px    
  .contacts
    padding: 0 15px
    &-title
      font-size: 14px
    &-text 
      font-size: 12px
  .location 
    font-size: 12px
  .nav
    padding: 0 15px
    &-list
      font-size: 14px
  .hero
    &-slider
      padding: 0 15px
  .list
    margin-right: 20px
  .news
    &-wrap
      padding: 0 15px
    &-title
      font-size: 14px
    &-text 
      font-size: 12px
  .info
    &-img
      margin-left: 0
  .dekor
    &-img
      margin-top: 15px
  .helps
    &-wrap
      padding: 0 15px
    &-title
      font-size: 45px
  .questions
    font-size: 30px
  .input
    max-width: 320px
  .sponsors
    &-logo
      padding: 0 15px
  .footer
    &-wrap 
      padding: 0 15px
  .nav
    &-title
      font-size: 16px
  .description
    &-text
      font-size: 14px
@media (max-width: 1054px)
  .nav
    &-list
      font-size: 12px
  .logo
    max-width: 180px
    width: 100%
    height: auto
  .contacts
    &-title
      font-size: 16px
    &-text 
      font-size: 10px
      margin-left: 30px
    &-icon
      margin-right: 5px
  .location
    font-size: 10px
    margin-left: 23px
  .load
    padding: 10px 20px
  .btn
    padding: 10px 20px
  .slider
    &-title
      font-size: 24px
      margin-bottom: 15px
      line-height: 20px
      &::before
        top: -25px
    &-text 
      font-size: 14px
      margin-bottom: 20px
      line-height: 20px
  .header
    &-description
      font-size: 12px
  .form
    &-btn 
      display: block
      margin-top: 20px
@media (max-width: 1024px)
  .nav
    display: none
    &-list
      margin-bottom: 10px
  .burger
    display: block
    padding-left: 15px
  .coments
    &-text
      font-size: 14px
  .logo
    &-mobile
      position: absolute
      top: 20px
      left: 20px
      max-width: 100px
  .mobile  
    &-close
      position: absolute
      top: 10px
      right: 20px  
  .news
    &-pagination
      &-number
        margin-right: 14px
  .contacts
    .btn a 
      font-size: 12px    
@media (max-width: 897px)
  .modal
    &-form 
      margin: 0 auto
      max-width: 650px
      width: 100%
      padding: 0 30px
    &-dialog
      max-width: 650px
    &-bottom
      max-width: 650px
    &-title
      font-size: 36px
    &-text 
      line-height: 20px
    .input
      &-review
        max-width: 275px
  .main
    &-text
      font-size: 16px
  .footer
    &-logo
      max-width: 90px
    &-wrap
      flex-wrap: wrap
    &-socials
      margin: 0 auto
  .logo
    max-width: 150px
    width: 90%
  .location
    &-title
      display: none  
  .coments
    .data
      margin-top: 30px
      margin-bottom: 19px
    &-link
      font-size: 10px
  .news
    &-wrap
      flex-direction: column
    &-title
      font-size: 12px
    &-pagination
      &-number
        margin-right: 10px
        &_active
          margin-right: 8px
        &:first-child
          margin-right: 8px
  .info
    &-wrap
      width: 100%
      padding-right: 0
    &-title
      margin-bottom: 15px
  .btn a
    font-size: 12px
    &-news
      font-size: 10px
  .reviews
    &-con  
      width: 100%
      margin-top: 50px 
  .form
    display: flex
    flex-direction: column
    align-items: end 
    &-btn 
      max-width: 365px
      width: 100%
  .input
    margin-bottom: 20px 
  .list
    &_item
      font-size: 16px
  .description
    &-text
      font-size: 12px
  .sponsors
    &-logo
      flex-wrap: wrap
@media (max-width: 680px)
  .modal
    &-dialog
      max-width: 600px
@media (max-width: 640px)
  .load
    max-width: 200px
    padding: 10px 20px
    text-align: center
    margin-top: 30px
    margin-bottom: 30px
    font-size: 12px
  .modal
    overflow-y: auto
    &-close
      top: 15px
      right: 15px
    &-btn 
      padding: 10px 50px
      margin-bottom: 12px
    &-title
      font-size: 30px
    &-text 
      font-size: 14px
      padding: 0 15px
    &-form
      max-width: 420px
    &-dialog
      width: 90%
      background-image: url('../img/modalmob.png')
      .input
        &-review
          max-width: 640px
  .hero
    margin-top: 10px
    margin-bottom: 20px
    &-slider
      flex-direction: column
  .nav  
    &-list
      font-size: 10px
  .mobile
    width: 12rem
    &-response
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 15px
  .image
    display: none
    &-response
      display: block
      max-width: 640px
      width: 100%
      height: 240px
      margin-bottom: 20px
  .header
    padding-top: 0
    &-wrap
      flex-direction: column
    &-description
      margin-bottom: 20px
      display: none
  .contacts
    flex-direction: column
    display: none
    &-title
      display: flex
      align-items: center
    &-text 
      display: none
  .social
    display: none
  .btn
    margin-top: 20px
    display: block
    margin: 0 auto
    max-width: 200px
    padding: 10px 20px
    text-align: center
    a 
      font-size: 10px
    &-news a 
      font-size: 10px
  .btn
    &-news.first 
      a 
        font-size: 10px
    &-news
      margin: 0 auto
      display: block
      max-width: 200px
      padding: 10px 20px
      text-align: center
    &-responsive
      margin: 0
    &-group
      margin-top: 20px
  .logo
    margin-bottom: 20px
    display: none
  .slider
    &-next 
      display: none
    &-prev
      display: none
    &-title
      text-align: center
      &::before
        display: none
    &-text 
      text-align: center
    &-description
      width: 100%
  .info
    &-news
      padding: 0 15px 15px
    &-title
      font-size: 26px
  .helps
    padding-top: 0
    padding-bottom: 0
    &-wrap
      padding-bottom: 40px
      padding-top: 25px
    &-title
      font-size: 24px
  .questions
    font-size: 18px
  .form
    align-items: flex-start
    &-btn 
      max-width: 350px
  .input
    max-width: 350px
    margin-right: 0
    &-review
      max-width: 640px
      width: 100%
      margin-bottom: 20px
    &-text 
      margin-top: 0
  .sponsors
    &-logo
      justify-content: space-around
      display: none
      &-response
        display: flex
        justify-content: space-evenly
        margin-bottom: 25px
  .list
    &-response
      margin-bottom: 0
      margin-right: 0
      display: block
      text-align: right
  .phone
    &-link
      font-size: 18px
  #modal
    &-response
      display: block
      width: 48px
      height: 48px
  .menu
    padding-top: 0
    &_item
      line-height: 25px
  .news
    padding-bottom: 35px
    padding-top: 0
    &-title
      line-height: 15px
    &-text 
      margin-top: 0
      line-height: 16px
  .elem
    max-width: 40px
    width: 100%
    height: auto
  .contacts
    &-text
      margin-left: 0
      font-size: 9px
  .footer
    &_location
      font-size: 16px
    &-wrap
      justify-content: space-around
      flex-direction: column
      align-items: center
    &-description
      display: flex
      flex-direction: column
      align-items: center
      padding-top: 30px
      order: 3
    &-contacts
      order: 0
    &-nav
      order: 1
    &-socials
      order: 2
    &-icon
      justify-content: center
      margin-bottom: 15px
    &-list
      text-align: center
    &-logo
      margin-bottom: 10px
    &-location
      margin-left: 28px
      font-size: 16px
  .nav
    &-title
      text-align: center
      padding-top: 0
      margin-bottom: 0
  .news
    &-pagination
      display: none
    &-btn 
      display: none
    &-img
      max-width: 130px
  .join
    margin-left: 0
  .main
    padding-bottom: 30px
    &-text 
      margin-bottom: 0
      line-height: 30px
    &-head
      flex-direction: column
      margin-top: 20px
    &-wrap
      margin-top: 40px
    &-inputs
      flex-direction: column
    &-title
      font-size: 14px
    &::before
      margin-bottom: 25px
  .private
    font-size: 10px
  .swiper
    &-container 
      margin-top: 10px
    &-slide
      width: 100%
  .reviews
    &-con
      padding-left: 0
  .review
    &-img
      margin-bottom: 14px
  .coments
    &-text 
      font-size: 12px
      line-height: 16px
    &-link
      margin-top: 20px
      margin-bottom: 25px
  .watch
    &-text
      margin-top: 15px
      margin-bottom: 0
  .main .slider-btn
    margin-bottom: 30px
  .main-text .coments-link
    margin-top: 20px
  .burger
    padding-left: 0
@media (max-width: 420px)
  .form
    align-items: center
  .questions
    text-align: center
  .helps
    &-title
      text-align: center
  .modal
    &-btn 
      a 
        font-size: 10px
    &-title
      font-size: 20px
    &-text 
      font-size: 12px
    &-close
      top: 15px
      right: 15px
  .private
    line-height: 10px
  .info
    flex-direction: column
  .news
    &-img
      display: block
      margin: 0 auto
  .phone
    &-link 
      font-size: 18px
  .btn
    &-responsive
      padding: 10px
      font-size: 10px
  .contacts
    &-text
      font-size: 8px